<p-toast />

<div class="ze-ze-wrapper">
    <!-- <div class="ze-ze-header">
        <div class="logo-placeholder">זה לזה</div> <h2 class="main-title">יצירת חשבון חדש</h2>
        <div class="gold-line"></div>
    </div> -->

    <div class="ze-ze-card">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="ze-ze-form">
           
            <div class="form-group">
                <label>שם מלא</label>
                <input pInputText type="text" formControlName="name" placeholder="name" [invalid]="isInvalid('name')" />
                @if (isInvalid('name')) {
                    <p-message severity="error" size="small" variant="simple">שם הוא שדה חובה</p-message>
                }
            </div>

            <div class="form-group">
                <label>כתובת אימייל</label>
                <input pInputText type="email" formControlName="email" placeholder="Email" [invalid]="isInvalid('email')" />
                @if (isInvalid('email')) {
                    @if (registerForm.get('email')?.errors?.['required']) {
                        <p-message severity="error" size="small" variant="simple">דוא"ל הוא שדה חובה</p-message>
                    }
                    @if (registerForm.get('email')?.errors?.['email']) {
                        <p-message severity="error" size="small" variant="simple">נדרשת כתובת דוא"ל חוקית</p-message>
                    }
                    @if (registerForm.get('email')?.errors?.['maxLength']) {
                        <p-message severity="error" size="small" variant="simple">כתובת הדוא"ל לא תעלה על 50 תווים.</p-message>
                    }
                }
            </div>

            <div class="form-group">
                <label>סיסמה</label>
                <p-password formControlName="password" [toggleMask]="true" [invalid]="isInvalid('password')" placeholder="Password" [feedback]="false"></p-password>
                @if (isInvalid('password')) {
                    @if (registerForm.get('password')?.errors?.['required']) {
                        <p-message severity="error" size="small" variant="simple">סיסמא היא שדה חובה</p-message>
                    }
                    @if (registerForm.get('password')?.errors?.['minlength'] || registerForm.get('password')?.errors?.['maxlength']) {
                        <p-message severity="error" size="small" variant="simple">אורך הסיסמא : בין 7-15 תווים.</p-message>
                    }
                    @if (registerForm.get('password')?.errors?.['pattern']){
                        <p-message severity="error" size="small" variant="simple">נדרש שילוב של אות גדולה, אות קטנה ומספר.</p-message>
                    }
                }
            </div>

            <div class="form-group">
                <label>מספר טלפון</label>
                <p-inputMask mask="999-9999999" formControlName="phone" [invalid]="isInvalid('phone')" placeholder="נייד"></p-inputMask>
                @if (isInvalid('phone')) {
                    <p-message severity="error" size="small" variant="simple">מספר טלפון חוקי הוא שדה חובה.</p-message>
                }
            </div>

            <button pButton type="submit" class="ze-ze-submit">
                <span class="w-full text-center">הצטרפות</span>
            </button>
        </form>
    </div>
</div>