<p-toast></p-toast>

<div class="card flex justify-center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full sm:w-56">
        <!-- Email -->
        <div class="flex flex-col gap-4">
            <input pInputText type="email" id="email" placeholder="Email" formControlName="email"  [invalid]="isInvalid('email')" />
            @if(isInvalid('email')){
                @if (loginForm.get('email')?.errors?.['required'])
                {
                        <p-message severity="error" size="small" variant="simple">Email is required.</p-message>
                }
                @if (loginForm.get('email')?.errors?.['email'])
                {
                    <p-message severity="error" size="small" variant="simple">Please enter a valid email.</p-message>
                }
            }
        </div>

        <!-- Password -->
        <div class="flex flex-col gap-4">
            <p-password id="password" placeholder="Password" formControlName="password" [toggleMask]="true" [invalid]="isInvalid('password')" feedback="false"></p-password>
             @if(isInvalid('password')){
                @if (loginForm.get('password')?.errors?.['required'])
                {
                    <p-message severity="error" size="small" variant="simple">Password is required.</p-message>
                }
                @if (loginForm.get('password')?.errors?.['pattern'])
                {
                    <p-message severity="error" size="small" variant="simple">Password must contain at least one uppercase letter, one lowercase letter, and one number.</p-message>
                }
            }
        </div>

        <button pButton severity="secondary" type="submit"><span pButtonLabel>Login</span></button>
    </form>
</div>
