<p-toast />

<div class="flex-container">
    <!-- <div class="header-section">
        <h2>כניסה למערכת</h2>
        <div class="divider"></div>
    </div> -->

    <div class="login-card">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
           
            <div class="field-group">
                <label for="email">כתובת אימייל</label>
                <input pInputText type="email" id="email"
                       formControlName="email"
                       placeholder="דוא''ל"
                       [invalid]="isInvalid('email')" />
               
                @if (isInvalid('email')) {
                    @if (loginForm.get('email')?.errors?.['required']) {
                        <p-message severity="error" size="small" variant="simple">שדה חובה.</p-message>
                    }
                    @if (loginForm.get('email')?.errors?.['email']) {
                        <p-message severity="error" size="small" variant="simple">נא להזין אימייל תקין.</p-message>
                    }
                }
            </div>

            <div class="field-group">
                <label for="password">סיסמה</label>
                <p-password id="password"
                            formControlName="password"
                            [toggleMask]="true"
                            [invalid]="isInvalid('password')"
                            [feedback]="false"
                            placeholder="סיסמה">
                </p-password>
               
                @if (isInvalid('password')) {
                    @if (loginForm.get('password')?.errors?.['required']) {
                        <p-message severity="error" size="small" variant="simple">שדה חובה.</p-message>
                    }
                    @if (loginForm.get('password')?.errors?.['minlength'] || loginForm.get('password')?.errors?.['maxlength']) {
                        <p-message severity="error" size="small" variant="simple">הסיסמה חייבת להיות בין 7-15 תווים.</p-message>
                    }
                    @if (loginForm.get('password')?.errors?.['pattern']) {
                        <p-message severity="error" size="small" variant="simple">נדרש שילוב של אות גדולה, אות קטנה ומספר.</p-message>
                    }
                }
            </div>

            <button pButton type="submit" label="התחברות" class="custom-btn"></button>
           
        </form>
    </div>
</div>