<div class="all-gifts-wrapper p-4" dir="rtl">
  <div class="categories-container flex justify-content-center mb-6 gap-3 flex-wrap">
    <button class="category-chip" [class.active]="selectedCategory === 'הכל'" (click)="filterByCategory('הכל')">
      <i class="pi pi-th-large"></i> הכל
    </button>

    <button *ngFor="let cat of getCategories()" class="category-chip" [class.active]="selectedCategory === cat"
      (click)="filterByCategory(cat)">
      {{ cat }}
    </button>
  </div>

  <div class="main-content-container mx-auto">
    <div class="grid grid-nogutter justify-content-start">
      <div *ngFor="let gift of filteredGifts" class="col-12 md:col-6 lg:col-4 xl:col-3 p-3">
        <app-single-gift [gift]="gift"></app-single-gift>
      </div>

      <div *ngIf="filteredGifts.length === 0" class="col-12 text-center p-8 surface-card border-round-3xl shadow-1 mt-4">
        <i class="pi pi-search text-5xl mb-3" style="color: var(--primary-color)"></i>
        <p class="text-xl font-medium text-600">לא נמצאו מתנות בקטגוריה זו.</p>
      </div>
    </div>
  </div>


  <!-- <div class="grid grid-nogutter justify-content-center p-2 md:p-4">
    <div *ngFor="let gift of gifts" class="col-12 md:col-6 lg:col-4 xl:col-3 p-3">
      <app-single-gift [gift]="gift"></app-single-gift>
    </div>
  </div> -->


  <div *ngIf="gifts.length === 0" class="col-12 text-center p-8 surface-card border-round-xl shadow-1">
    <i class="pi pi-box text-5xl text-400 mb-3"></i>
    <p class="text-xl font-medium text-600">כרגע אין מתנות זמינות להגרלה.</p>
  </div>